babelfish==0.5.4
beautifulsoup4==4.3.2
certifi==14.5.14
charade==1.0.3
chardet==2.3.0
click==5.1
dogpile.cache==0.5.6
dogpile.core==0.4.1
enzyme==0.4.1
guessit==0.11.0
html5lib==0.999
Jinja2==2.7.3
MarkupSafe==0.23
pbr==0.10.7
peewee==2.4.7
pysrt==1.0.1
python-dateutil==2.4.0
pyxdg==0.25
requests==2.5.1
six==1.9.0
stevedore==1.2.0
subliminal==1.0.1
tornado==4.0.2
