<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>gustaf</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ static_url('externals/bootstrap-3.2.0-dist/css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ static_url('css/dashboard.css') }}">

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">gustaf</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!--div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% block shows %}
                <li>DEFAULT</li>
                {% end %}
            </ul>
        </div>
        <div class="col-md-2">
            <div class="col-md-4 main">
                <ul>
                    {% block seasons %}
                    <li>DEFAULT</li>
                    {% end %}
                </ul>
            </div>
            <div class="col-md-8">
                <ul>
                    {% block episodes %}
                    <li>DEFAULT</li>
                    {% end %}
                </ul>
            </div>
        </div-->

        <div class="btn-group-vertical col-lg-4 sidebar">
            {% block sidebar %}
            {% end %}
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ static_url('externals/jquery-2.1.1.min.js') }}"></script>
<script src="{{ static_url('externals/bootstrap-3.2.0-dist/js/bootstrap.min.js') }}"></script>

</body>
</html>