<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>gustaf</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ static_url('externals/bootstrap-3.2.0-dist/css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ static_url('css/dashboard.css') }}">

<body>
<!-- Nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">gustaf</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <aside class="btn-group-vertical col-lg-4 sidebar">
            {% block sidebar %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Show name
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Season number</a></li>
                </ul>
            </div>
            {% end %}
        </aside>

        <!-- Main section-->
        <div class="col-lg-8 col-lg-offset-4">
            <div class="row">
                <div id="episodes" class="col-lg-12">
                    <h1>Select a show</h1>
                </div>

                <div class="footer col-lg-8">
                    <p id="status">VLC not playing</p>

                    <div class="progress">
                        <div id="progress" class="progress-bar progress-bar-striped" role="progressbar"
                             aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ static_url('externals/jquery-2.1.1.min.js') }}"></script>
<script src="{{ static_url('externals/spin.min.js') }}"></script>
<script src="{{ static_url('externals/jquery.spin.js') }}"></script>
<script src="{{ static_url('externals/bootstrap-3.2.0-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/gustaf.js') }}"></script>
</html>