{% for season in seasons %}
<h1>Season {{ escape(str(season.number)) }}</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <td></td>
        <td>
            <a id="state_season_{{ season.id }}" class="label {{ season.state.label }}" href="#"
               onclick="gustaf.toggleSeasonState($(this), {{ season.id }});return false;">{{ season.state.text}}</a>
        </td>
    </tr>
    </thead>
    {% for episode in season.episodes %}
    <tr>
        <td>
            <a href="javascript:gustaf.play({{ episode.id }})">{{ episode.path }}</a>
        </td>
        <td>
            <a id="state_episode_{{ episode.id }}" class="label {{ episode.state.label }}" href="#"
               onclick="gustaf.toggleEpisodeState($(this), {{ episode.id }});return false;">{{ episode.state.text}}</a>
        </td>
    </tr>
    {% end %}
</table>
{% end %}