{% from model import PlayState %}
{% for season in seasons %}
<h1>Season {{ escape(str(season.season_number)) }}</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            {% if season.state_count == 1 %}
            {% set season_state = PlayState.from_num( season.state ) %}
            {% else %}
            {% set season_state = PlayState.WATCHING %}
            {% end %}
            <a id="state_season_{{ season.id }}"
               class="label label-{{ season_state.label }}"
               href="#"
               onclick="gustaf.toggleSeasonState($(this), {{ season.id }});return false;">{{ season_state.text }}</a>
        </td>
    </tr>
    </thead>
    {% for episode in season.episodes %}
    <tr>
        <td>
            {{ episode.episode_number }}
        </td>
        <td>
            <button type="button" class="btn btn-primary" onclick="gustaf.play({{ episode.id }})">
                <span class="glyphicon glyphicon-play"></span>
            </button>
        </td>
        <td>
            {% for language in languages %}
            {% if language in episode.subtitles %}
            {% set sub_state = "btn-success" %}
            {% else %}
            {% set sub_state = "btn-danger" %}
            {% end %}
            <button id="sub_episode_{{ episode.id }}_{{language}}" type="button" class="btn {{sub_state}}"
                    onclick="gustaf.get_subtitles({{ episode.id }}, '{{language}}')">
                <span class="glyphicon glyphicon-subtitles"></span><b> {{language}}</b>
            </button>
            {% end %}
        </td>
        <td>
        <a id="state_episode_{{ episode.id }}" class="label label-{{ episode.episode_state.label }}" href="#"
               onclick="gustaf.toggleEpisodeState($(this), {{ episode.id }});return false;">{{
                episode.episode_state.text}}</a>
        </td>
    </tr>
    {% end %}
</table>
{% end %}