<h1>{{ title }}</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <td></td>
        <td><span class="label label-success">Watched</span></td>
    </tr>
    </thead>
    {% for episode in episodes %}
    <tr id="{{ episode.id }}">
        <td><a href="javascript:gustaf.play({{ episode.id }})">{{ episode.path }}</a></td>
        <td><a class="label {{ episode.state.label }}" href="#"
               onclick="gustaf.toggleState($(this), {{ episode.id }});return false;">{{
            episode.state.text }}</a></td>
    </tr>
    {% end %}
</table>