<div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-4 col-md-offset-4 col-offset-sm-4">
    <div class="row">
        <div class="col-lg-12">
            <h1 ng-if="showName">{{showName}}</h1>
            <h1 ng-if="episodes.length">{{title}}</h1>
            <table class="table table-hover">
                <tr ng-repeat="episode in episodes | orderBy:sortFields">
                    <td>
                        <a ng-if="!showName" href="" ng-click="getEpisodes()(episode.show_id, episode.show_name)"><b>{{episode.show_name}}</b></a>
                        <b>S{{episode.season_number|pad}}E{{episode.episode_number|pad}}</b>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="play()(episode)">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </td>
                    <td>
                        <a href="" ng-click="toggleState()(episode)">
                            <div class="progress">
                                <div id="progress_episode_{{episode.id}}"
                                     class="progress-bar progress-bar-{{episode.episode_state[2]}}"
                                     role="progressbar" style="width: {{episode|progress}}%">
                                </div>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>