{% extends "base.html" %}
{% from "episode.html" import episode_tr %}

{% block sidebar %}
{% if shows %}
{% for show in shows %}
<button id="state_show_{{show.id}}" type="button"
        class="btn btn-{{(show|show_state).label}}"
        onclick="gustaf.getEpisodesForShow({{show.id}}, '{{show.name}}')">
{{ show['name'].title() }}
</button>
{% endfor %}
{% else %}
<button type="button" class="btn btn-default">
    Show name
</button>
{% endif %}
{% endblock %}

{% block dashboard %}
{% set started = shows|started_episodes %}
{% if started %}
<h1>Started watching</h1>
<table class="table table-hover">
    {% for show_name, season_number, episode in started %}
    {{ episode_tr(show_name, season_number, episode, languages) }}
    {% endfor %}
    {% endif %}
</table>

{% set next = shows|next_episodes %}
{% if next %}
<h1>Next episodes</h1>
<table class="table table-hover">
    {% for show_name, season_number, episode in next %}
    {{ episode_tr(show_name, season_number, episode, languages) }}
    {% endfor %}
</table>
{% endif %}
{% endblock %}