{% extends "base.html" %}

{% block sidebar %}
{% for show in shows %}
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{ escape(show.name.title()) }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for season in show.seasons %}
        <li><a href="#">Season {{ escape(season.number) }}</a></li>
        {% end %}
    </ul>
</div>
{% end %}
{% end %}

{% block episodes %}
{% for episode in episodes %}
<li><a href="">{{ escape(episode) }}</a></li>
{% end %}
{% end %}